name: lpdevops

services:

    ##########
    # System #
    ##########

    system:
        hostname: lpdevops
        build:
            context: ..
            dockerfile: docker/Dockerfile
        image: lpdevops:20230226135826
        volumes:
            - ../..:${MANALA_DIR}
        environment:
            MANALA_DIR: ${MANALA_DIR}
            MANALA_CACHE_DIR: ${MANALA_CACHE_DIR}
        working_dir: ${MANALA_DIR}
        # Use default docker bridge network
        network_mode: bridge
